newrelic>=3.2,<3.3
git+https://github.com/superdesk/superdesk-core.git@support/1.33#egg=Superdesk-Core
-e git+https://github.com/superdesk/newsroom.git@v1.20.3#egg=Newsroom
git+https://github.com/superdesk/superdesk-planning.git@support/1.33#egg=superdesk-planning
