newrelic>=3.2,<3.3

# Newsroom 1.13-RC2 - https://github.com/superdesk/newsroom/releases/tag/v1.13-RC2
-e git+git://github.com/superdesk/newsroom.git@db3df17#egg=Newsroom
git+git://github.com/superdesk/superdesk-planning.git@1.1#egg=superdesk-planning
