table {
    width: 600px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
td, th {
    padding: 15px 30px 15px 30px;
    font-size: 13px;
    line-height: 1.6;
    border-bottom: 1px solid #f0f0f0;
}
.es-highlight {
    background-color: #ffcece;
}
