{% extends "base_layout.html" %}

{% block default_navs %}
    {% set fns = namespace(factcheck_shown=false) %}
    {% for group in range(0, 10) %}
        {% for nav in sidenavs(request.blueprint)|selectattr("group", "equalto", group) %}
            {% if group > 0 and loop.first and loop.length %}
                <li class="sidenav__separator" role="presentation">
                    <span class="separator__dot" aria-hidden="true"></span>
                    <span class="separator__dot" aria-hidden="true"></span>
                    <span class="separator__dot" aria-hidden="true"></span>
                    <span class="separator__dot" aria-hidden="true"></span>
                </li>
            {% endif %}
            {% set is_factcheck = nav.get('name') == 'FactCheck' %}
            {% if not is_factcheck or not fns.factcheck_shown %}
                {% include "sidenav_icon.html" %}
            {% endif %}
            {% if is_factcheck %}
                {% set fns.factcheck_shown = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}