{% extends "layout.html" %}

{% block title %}{{ gettext('Releases') }}{% endblock %}


{% block content %}
    <div class="content">
        <div class="container py-5">
            <script>
                var _aapr = document.createElement('script');
                _aapr.src = "{{ url_for('static', filename = 'aaprwidget.js') }}";
                _aapr.type = 'text/javascript';
                _aapr.async = true;
                document.head.appendChild(_aapr);
            </script>
            <div id="aapr-widget"></div>
        </div>
    </div>
{% endblock %}
