<h2>{{ item.headline }}</h2>

{% if item.body_html %}{{ item.body_html | safe }}{% elif item.body_txt %}<pre>{{ item.body_txt }}</pre>{% endif %}

<ul style="list-style: none; padding-left: 0px; margin-left: 0px;">
    <li style="margin-left: 0px"><h3>Item Details</h3></li>
    {% if item.slugline %}<li style="margin-left: 0px"><b>Slugline:</b> {{ item.slugline }}</li>{% endif %}
    {% if item.subject %}<li style="margin-left: 0px"><b>Category:</b> {{ item.subject|map(attribute='name')| join(', ') }}</li>{% endif %}
    <li style="margin-left: 0px"><b>Published:</b> <a href="{{ url_for('wire.index', _external=True) }}">AAP Newsroom</a> {{ item.versioncreated | datetime_long }}</li>
    <li style="margin-left: 0px"><b>Original Article:</b> <a href="{{ url_for_wire(item, True, section) }}">{{ url_for_wire(item, True, section) }}</a></li>
</ul>
