{% extends "home_default.html" %}

{% block topnav %}
    <div class="navbar-header">
        <nav class="navbar navbar-header_0 divider flex-nowrap">
            {% include 'logo.html' %}
            <div class="mr-3 d-none d-xl-block navbar-header_tagline">{{ gettext('EVERY TOOL   ·   EVERY ADVANTAGE   ·   EVERYTHING NEWSROOMS NEED') }}</div>
            {% include "topnav_controls.html" %}
        </nav>
        <nav class="navbar-header_1 navbar-header_1--small divider mr-3 d-none d-sm-block">
            {{ gettext(' aap newsroom ') }}
        </nav>
        {% include 'header_nav_links.html' %}
    </div>
{% endblock %}
