<style>
    body {
        font-family: 'Arial, Helvetica, sans-serif';
        line-height: 1.2rem;
    }
    h1{
		font-size: 2rem;
	}
    #date{
		font-size: 1.7rem;
	}
    div {
        font-size: 1.4rem;
    }
    .line {
		margin-bottom: 8px;
	}
</style>
<img src= {{ monitoring_image_path + '/login-logo.png' }} width="120"/>
<h1>{{ monitoring_report_name }} Monitoring: {{ monitoring_profile.name }} {% if current_date %}({{ current_date }}){% endif %}</h1>
    {% for d in date_items_dict.keys() %}
        {% if not print %}<div id="date" class="line"><strong>{{ d.strftime('%d %B %Y') }}</strong></div>{% endif %}
        {% for item in date_items_dict[d]  %}
            <div><strong>Headline: {{ item.get('headline', '') }}</strong></div>
            <div><strong>Source: {{ item.get('source', '') }}</strong></div>
            <div class="line"><strong>Keywords: {{ get_keywords_in_text(item.get('body_str', ''), monitoring_profile.keywords)|join(',') }}</strong></div>
            {% if item.byline %}
                <div>By {{ item.get('byline', '') }}</div>
            {% endif %}
            {{ item.get('body_str', '') | safe }}
            {% if monitoring_profile.alert_type == 'linked_text' and not print%}
                <div><a style="color: grey" href="{{ url_for('monitoring.index', item=item._id, _external=True) }}">View Article</a></div>
            {% endif %}
            </br>
        {% endfor %}
    {% endfor %}

<div><small>COPYRIGHT & DISCLAIMER: This report and its contents are for the use of AAPNewswire subscribers only and may not be provided to any third party for any purpose whatsoever without the express written permission of Australian Associated Press Pty Ltd. The material contained in this report is for general information purposes only. Any figures in this report are an estimation and should not be taken as definitive statistics. Subscribers should refer to the original article before making any financial decisions or forming any opinions. AAP Newswire Monitoring makes no representations and, to the extent permitted by law, excludes all warranties in relation to the information contained in the report and is not liable to you or to any third party for any losses, costs or expenses, resulting from any use or misuse of the report.
</br>AAPNewswire report supplied by
</br>&copy; AAPNewswire {{ current_date[-4:] }}</small></div>
{% if print %}
<script>
    window.print();
</script>
{% endif %}
