{% extends "layout.html" %}

{% block topnav %}
    <div class="navbar-header">
        <nav class="navbar navbar-header_0 divider">
            {% include 'logo.html' %}
            <div class="navbar-brand d-flex align-items-center ml-0 ml-sm-1 ml-md-2 mr-0 mr-sm-4">
                <nav>
                    {% block breadcrumb %}{% endblock %}
                </nav>
            </div>
            {% include "topnav_controls.html" %}
        </nav>
        <nav class="navbar-header_1 navbar-header_1--small">
            {% for group in range(0, 10) %}
                {% for nav in sidenavs(request.blueprint)|selectattr("group", "equalto", group) %}
                    {% if request.endpoint == nav.endpoint %}
                    {{  gettext(nav.get('name').lower()) if nav.get('name') != 'aapX' else nav.name }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </nav>
    </div>
{% endblock %}
