{% extends "layout.html" %}

{% block title %}{{ gettext('Releases') }}{% endblock %}


{% block content %}
    <div class="content">
        <div class="container py-5">
        <!-- Medianet Widget Code Starts Here -->
        <script>
        var _wsc = document.createElement('script');
        _wsc.src = "//tools.prnewswire.com/en-au/live/16893/landing.js";
        document.getElementsByTagName('Head')[0].appendChild(_wsc);
        </script>
        <div id="w16893_landing"></div>
        <!-- Medianet Widget Code Ends Here -->
        </div>
    </div>
{% endblock %}
